* {
    font-family: ComicTypo;
    box-sizing: border-box;
    --primary-color: #f05720;
    --secondary-color: #f0b19b;
}

html, body, #root {
  height: 100%;
}

body {
    margin: 0;
    font-size: 1.5em;
}

a {
    text-decoration: none;
    color: var(--primary-color);
}

.prg-button {
    --prg-button-background-color: var(--secondary-color);
    --prg-button-text-color: black;
}

.image-cropper-modal {
    --image-cropper-modal-background-shade-color: rgba(80, 30, 11, 0.5) !important;  
}
